
#checkboxes_page {
	h5 {
		color: #e91e63;
		font-weight: bold;
	}
	.f-b {
		font-weight: bold;
	}
	.p-b-15 {
		padding-bottom: 15px;
	}
	.form-group {
		margin-top: 0px;
		input {
			padding: 0px;
		}
	}
}