
	<div id="checkboxes_page" class="main-content">
		<div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">check_box</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Checkboxes & fields</h4>
              <div class="row">
                <div class="col-md-12 p-b-15">
                  <h5>Activate/Deactivate each questions as needed</h5>
                  <div class="col-md-12 p-b-15">
                    <div class="col-md-10">
                      <div class="col-md-6 text-left">
                        <label class="f-b">The user can pay reservation with credit card?</label>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 p-b-15">
                    <div class="col-md-10">
                      <div class="col-md-6 text-left">
                        <label class="f-b">Do you have receptions?</label>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 p-b-15">
                    <div class="col-md-10">
                      <div class="col-md-6 text-left">
                        <label class="f-b">By reserving/paying a single seat, are you agree the umbrella to marked as occupied?</label>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 p-b-15">
                    <div class="col-md-10">
                      <div class="col-md-6 text-left">
                        <label class="f-b">If you have umbrellas with more than 4 seats, are you agree that 2 customers to take seat in both side(left - right)</label>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-12 p-b-15">
                    <div class="col-md-10">
                      <div class="col-md-6 text-left">
                        <label class="f-b">Your beach have bar/chitchen?</label>
                      </div>
                      <div class="col-md-6 text-right">
                        <div class="togglebutton">
                          <label>
                            <input type="checkbox" class="" checked>
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 p-b-15">
                  <h5>Set reservation time limit</h5>
                  <div class="row">
                    <div class="col-md-12 p-b-15">
                      <div class="col-md-3" style="display:flex;">
                        <div class="form-group">
                          <input class="form-control" type="text" />
                        </div>
                        <label class="col-sm-3 label-on-right">Minutes</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 p-b-15">
                  <h5>Spare sunbeds which you have deposited and ready for use</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3 p-b-15" style="display:flex;">
                        <div class="form-group">
                          <input class="form-control" type="text" />
                        </div>
                        <label class="col-sm-3 label-on-right">Sunbeds</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 p-b-15">
                  <h5>Extra sunbeds - Sunbeds which can be added beside of the existing sunbeds under umbrellas</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3 p-b-15" style="display:flex;">
                        <div class="form-group">
                          <input class="form-control" type="text" />
                        </div>
                        <label class="col-sm-3 label-on-right">Sunbeds</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-12 p-b-15">
                  <h5>Daily limit - How many times an customer can cancel an made reservation</h5>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="col-md-3 p-b-15" style="display:flex;">
                        <div class="form-group">
                          <input class="form-control" type="text" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>