
<div class="full-page register-page" filter-color="black">
    <!--  you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="card card-login">
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <div class="card-header text-center" data-background-color="rose">
                  <h4 class="card-title">Register</h4>
                  <h2>Smart Beach</h2>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-5 col-md-offset-1">
              </div>
              <div class="col-md-5">
                <div class="social text-center">
                </div>
                <br/>
                <form class="form" method="" action="">
                  <div class="card-content">
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">face</i>
                      </span>
                      <input type="text" class="form-control" placeholder="First Name...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">business</i>
                      </span>
                      <input type="text" class="form-control" placeholder="Company Name">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">email</i>
                      </span>
                      <input type="text" class="form-control" placeholder="Email...">
                    </div>
                    <div class="input-group">
                      <span class="input-group-addon">
                        <i class="material-icons">phone</i>
                      </span>
                      <input type="text" placeholder="Phone Number" class="form-control" />
                    </div>
                    <!-- If you want to add a checkbox to this form, uncomment this code -->
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" name="optionsCheckboxes" checked> I agree to the
                        <a href="#something">terms and conditions</a>.
                      </label>
                    </div>
                  </div>
                  <div class="footer text-center">
                    <a href="#pablo" class="btn btn-primary btn-round">Send Request</a>
                  </div>
                  <br/><br/>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <div class="container">
        <nav class="pull-left">
          <ul>
            <li>
              <a href="#">
                Home
              </a>
            </li>
            <li>
              <a href="#">
                Company
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </footer>
    <div class="full-page-background" style="background-image: url(../../../assets/img/login.jpeg) "></div>
</div>
  