
	<div id="about_page" class="main-content">
		<div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">priority_high</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Beach Info</h4>
              <div class="row">
                <div class="col-md-12 p-b-15">
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Beach Name*</label>
                        <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Country*</label>
                        <input type="text" class="form-control">
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label">Station/City*</label>
                        <input type="text" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">place</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Beach Location</h4>
              <div class="row">
                <div class="col-md-12 p-b-15">
                  <div class="col-md-12">
                    <label>If the position marked on the map is not your beach position, pls navigate in order to select your beach place and click on it.</label>
                  </div>
                  <div class="col-md-12">
                    <div id="regularMap" class="map"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">hotel</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Beach Facilities</h4>
              <div class="row">
                <div class="col-md-12 p-b-15">
                  <div class="col-md-12">
                    <label>From the list below, select your beach facilities</label>
                    <div class="col-md-12 flexing">
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                      <div class="icon">
                          <i class="material-icons">weekend</i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">priority_high</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Photos & beach description</h4>
              <div class="row">
                <div class="col-md-12">
                  <label class="f-bold">Add at least a photo which represent your location</label>
                </div>
                <div class="col-md-12 p-b-15">
                  <div class="col-md-3">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div style="display: none;">
                            <span class="btn btn-rose btn-round btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="..." />
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div style="display: none;">
                            <span class="btn btn-rose btn-round btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="..." />
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div style="display: none;">
                            <span class="btn btn-rose btn-round btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="..." />
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                        <div class="fileinput-new thumbnail">
                            <img src="../../assets/img/image_placeholder.jpg" alt="...">
                        </div>
                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                        <div style="display: none;">
                            <span class="btn btn-rose btn-round btn-file">
                                <span class="fileinput-new">Select image</span>
                                <span class="fileinput-exists">Change</span>
                                <input type="file" name="..." />
                            </span>
                            <a href="#pablo" class="btn btn-danger btn-round fileinput-exists" data-dismiss="fileinput"><i class="fa fa-times"></i> Remove</a>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <label class="f-bold">Beach Description</label>
                </div>
                <div class="col-md-12 p-b-15">
                  <label>Lamborghini Mercy, Your chick she so thirsty. I am in that two seat Lambo.</label>
                </div>
              </div>
            </div>
            <div class="card-footer text-right">
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>