
	<div id="about_page" class="main-content">
		<div id="schedule_page" class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">event_note</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Schedule period</h4>
              <div class="row">
                <div class="col-md-12">
                  <h3>2018</h3>
                </div>
                <div class="col-md-12 p-b-15">
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                        <label class="control-label f-custom">From:</label>
                        <button class="btn btn-custom btn-round col-md-12">01.01.2018</button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                        <label class="control-label f-custom">To:</label>
                        <button class="btn btn-custom btn-round col-md-12">01.01.2018</button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                        <label class="control-label">&nbsp;</label>
                        <button class="btn btn-rose btn-round btn-fab">
                          <i class="material-icons">add</i>
                        </button>&nbsp;&nbsp;
                        <label style="font-weight: bold;">Add a new year</label>
                    </div>
                  </div>
                  <div class="col-md-3 clearfix">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">schedule</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Working hours</h4>
              <div class="row">
                <div class="col-md-12">
                  <h3>2018</h3>
                </div>
                <div class="col-md-12 p-b-15">
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                        <label class="control-label f-custom">From:</label>
                        <button class="btn btn-custom btn-round col-md-12">08:00</button>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group label-floating">
                        <label class="control-label f-custom">To:</label>
                        <button class="btn btn-custom btn-round col-md-12">08:00</button>
                    </div>
                  </div>
                  <div class="col-md-3 clearfix">
                  </div>
                  <div class="col-md-3 clearfix">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon" data-background-color="rose">
              <i class="material-icons">attach_money</i>
            </div>
            <div class="card-content">
              <h4 class="card-title">Prices</h4>
              <div class="row">
                <div class="col-md-12">
                  <label class="f-bold">Select one of the below types of seats</label>
                </div>
                <div class="col-md-12 p-b-15">
                  <div class="col-md-12">
                    <div class="col-md-12">
                      <div class="col-md-4">
                        <button class="btn btn-rose btn-round col-md-12">Sunbed under umbrella</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-custom-d btn-round col-md-12">Baldaauins</button>
                      </div>
                      <div class="col-md-4">
                        <button class="btn btn-custom-d btn-round col-md-12">Sunbed without umbrella</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label f-custom">From:</label>
                        <button class="btn btn-custom btn-round col-md-12">01.01.2018</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                        <label class="control-label f-custom">To:</label>
                        <button class="btn btn-custom btn-round col-md-12">01.01.2018</button>
                    </div>
                  </div>
                  <div class="col-md-4">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="col-md-12">
                    <div class="col-md-4 inline-me text-center">
                      <h4 class="f-h">FRONT</h4>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="col-sm-3 f-bold label-on-left">Daily</label>
                          <div class="col-sm-6">
                            <div class="form-group label-floating">
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                          <label class="col-sm-3">Euro</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="col-sm-3 f-bold label-on-left">Weekend</label>
                          <div class="col-sm-6">
                            <div class="form-group label-floating">
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                          <label class="col-sm-3">Euro</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 inline-me text-center">
                      <h4 class="f-h">MIDDLE</h4>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="col-sm-3 f-bold label-on-left">Daily</label>
                          <div class="col-sm-6">
                            <div class="form-group label-floating">
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                          <label class="col-sm-3">Euro</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="col-sm-3 f-bold label-on-left">Weekend</label>
                          <div class="col-sm-6">
                            <div class="form-group label-floating">
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                          <label class="col-sm-3">Euro</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 inline-me text-center">
                      <h4 class="f-h">BACK</h4>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="col-sm-3 f-bold label-on-left">Daily</label>
                          <div class="col-sm-6">
                            <div class="form-group label-floating">
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                          <label class="col-sm-3">Euro</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="col-sm-3 f-bold label-on-left">Weekend</label>
                          <div class="col-sm-6">
                            <div class="form-group label-floating">
                              <input class="form-control" type="text" />
                            </div>
                          </div>
                          <label class="col-sm-3">Euro</label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <button class="btn btn-rose btn-round btn-fab">
                    <i class="material-icons">add</i>
                  </button>&nbsp;&nbsp;
                  <label style="font-weight: bold;">Add a new year</label>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 text-right">
                  <button class="btn btn-rose">Save</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>